*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: white;
   
}
nav{
    display: flex;
    justify-content:space-between;
   padding: 15px;
   align-items: center;
   
}

li{
    list-style: none;
    padding-left: 10px;
    margin-left: 60px;
    font-weight: 600;
    font-size: 1.2rem;
}

li a{
    color: black;
    text-decoration: none;
    color: white;
}

.list{
    display: flex;
    margin-right: 50px;
    
}

nav .portfolio{
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    color:  rgb(190, 0, 0);
    margin-left: 50px;
    font-weight: bold;
}
.line1{
    width: 94vw;
    height: 3px;
    margin-left:45px ;
    background-color: rgb(190, 0, 0);
}

.title{
    text-align: center;
    font-size: 35px;
    padding-top: 30px ;
}
.title span{
    color: rgb(190, 0, 0);
}

.Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tech-head{
    color: white;
    text-align: center;
}


.Technical-Container{
    width: 400px;
    height: 600px;
    padding: 70px 90px;
}

svg{
    margin-left:-4px;
}

#java svg{
    margin-left: -10px;
}
.Icons{
    margin: 30px;
    font-size: 28px; 
}

.Info span{
    font-size: 17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
.progress-bar{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }    
}

.progress-bar span{
    height: 100%;
    position: absolute;
    background-color: rgb(190, 0, 0);
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
    
}

.progress-bar.html span{
    width: 90%;
}
.progress-bar.css span{
    width: 80%;
}
.progress-bar.js span{
    width: 70%;
}
.progress-bar.C span{
    width: 90%;
}
.progress-bar.java span{
    width: 70%;
}

.progress-bar span::after{
    position: absolute;
    background-color: white;
    border-radius: 3px;
    font-size: 15px;
    color: rgb(190, 0, 0);
    font-weight: bolder;
    top: -30px;
    right: -20px;
    padding: 3px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.progress-bar.html span::after{
    content: "90%";
}
.progress-bar.css span::after{
    content: "80%";
}
.progress-bar.js span::after{
    content: "70%";
}
.progress-bar.C span::after{
    content: "90%";
}
.progress-bar.java span::after{
    content: "70%";
}

.progress-bar span::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    color: rgb(190, 0, 0);
    animation: showText 0.5s 1.5s linear forwards ;
    opacity: 0;
    top: -10px;
    font-weight: 600;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}


.soft-Container{
    width: 400px;
    height: 600px;
    padding: 90px 90px;
}

#soft-heading{
    color: white;
    text-align: center;
    padding-bottom: 70px;
}


.radial-bar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.radial-bar .radial-bars{
    width: 50%;
    height: 170%;
    position: relative;
    margin-bottom: 10px;
}

.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 5;
    stroke: rgb(190, 0, 0);
    fill:transparent;
    stroke-dashoffset: 502;
    stroke-dasharray: 502;
    stroke-linecap: round;
}

.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}

@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;
    }
}

@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3 {
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 45%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    background-color: #fff;
    color: rgb(190, 0, 0);
    padding: 5px;
    border-radius: 8px;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.radial-bars .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%);
    font-size: 20px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

